@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<h3>App Settings</h3>
<div>@ViewBag.AppName</div>
<div>@ViewBag.AppVersion</div>

<h3>Connection Strings</h3>
<div>@ViewBag.ConnectionString</div>